<div class="grey round-header" ng-class="blur">
    <h1 class="round-title round-title-{{ round.round }}">Round {{ round.round }}</h1>
    <p ng-bind-html="round.hint"></p>
</div>
<div class="white round-content timer-round-content">
    <div class="content-aligner">
        <timer class="minutes" interval="1000" countdown="round.remminutes">{{millis | date:'mm:ss'}}</timer>
        <a ng-href="{{ goTo }}" ng-show="timerFinished" ng-class="button">{{ buttonText }}</a>
    </div>
</div>

<div class="second-column low-nav">
    <a class="btn-nav btn-play" ng-hide="timerRunning || timerFinished" ng-click="startTimer()" ></a>
    <a class="btn-nav btn-pause" ng-show="timerRunning" ng-click="pauseTimer()"></a>
    <div class="btn-nav" ng-show="timerFinished"><a class="add-time" ng-click="addTime()">
        <strong>Extra<br/> Time</strong> +5min
    </a></div>

    <a ng-click="showHelp()" class="help">?</a>
</div>

<div class="modal" ng-hide="isHelpHidden">
    <div class="round-content modal-round-content" ng-bind-html="round.content"></div>
    <a ng-click="hideHelp()" class="close-modal"></a>
</div>