// =============================================================================
// Variables / fonts / mixins
// =============================================================================

@font-face {
  font-family: Aaux;
  src: url(../fonts/AauxPro-Thin.ttf) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: Aaux;
  src: url(../fonts/AauxPro-Regular.ttf) format('opentype');
}

@font-face {
  font-family: AauxBold;
  src: url(../fonts/AauxPro-Bold.ttf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: Aaux;
  src: url(../fonts/AauxPro-BlackOSF.ttf) format('opentype');
  font-weight: bold;
}

@brand: #56a623;
@brand-secondary: #62bc28;

.button(@color){
  color: @color;
  display: block;
  border-radius: 8px;
  border: 4px solid @color;

  margin: 24px auto 0;
  text-decoration: none;
  font-weight: bold;

  font-size: 24px;
  line-height: 56px;
}

// =============================================================================
// Angular
// =============================================================================

[ng-view]{
  position: absolute;
  top: 43px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: 650ms cubic-bezier(.42,0,.58,1) all;

  transform: translate3d(0, 0, 0);
}

.slide-left.ng-enter {
  z-index: 101;
  transform: translate3d(100%, 0, 0);
}

.slide-left.ng-enter.ng-enter-active {
  transform: translate3d(0%, 0, 0);
}

.slide-left.ng-leave, .slide-start.ng-leave {
  z-index: 100;
}

.slide-left.ng-leave.ng-leave-active, .slide-start.ng-leave.ng-leave-active {
  transform: translate3d(-100%, 0, 0);
}


// =============================================================================
// Cordova
// =============================================================================

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}

html{
  height: 100%;
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}


// =============================================================================
// General styles
// =============================================================================

*, *:before, *:after {
  box-sizing: inherit;

  background-repeat: no-repeat;
  background-position: center;

  .no-svg &{
    background-size: 100% auto;
  }
}

body{
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;

  font-family: Aaux, sans-serif;

  text-align: center;
  color: #fff;
  background: @brand;
}

.grey{
  background-color: #eee;
  color: #000;
  margin: 0;
  line-height: 1;
}

.white{
  background-color: #fff;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
  color: #000;

  p{
    margin-bottom: 0;
  }

  p:first-child{
    margin-top: 0;
  }
}

.home-lead{
  .white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.title{
  position: relative;
  z-index: 1;
  margin: 0;
  text-transform: uppercase;
  font-size: 58px;
  letter-spacing: -4px;
  padding: 14px 0;

  .grey;

  span{
    font-weight: normal;
    letter-spacing: -7px;
  }
}

.low-nav{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 127px;
  background-color: @brand;
  overflow: hidden;

  &:after{
    content: '';
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: @brand-secondary;
    z-index: 1;
  }
}

.btn-nav{
  display: block;
  width: 194px;
  height: 194px;
  margin: auto;
  background-color: @brand;
  border-radius: 9999px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -194px/2;
  margin-left: -194px/2;
  z-index: 2;
}

.btn-play:after, .btn-pause:after{
  content: '';
  width: 101px;
  height: 101px;
  left: 50%;
  top: 50%;
  margin: -101px/2 0 0 -101px/2;
  position: absolute;
  filter: drop-shadow(5px 5px 0 rgba(0,0,0,.1));
}

.btn-play:after{
  background-image: url(../img/svg/play.svg);
}

.no-svg .btn-play:after{
  background: transparent url(../img/png/play.png) no-repeat center;
}

.btn-pause:after{
  background-image: url(../img/svg/pause.svg);
}

.no-svg .btn-pause:after{
  background: transparent url(../img/png/pause.png) no-repeat center;
}

@media (max-width: 320px) {
  .home-lead{
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .title{
    font-size: 42px;
  }
}


@media (min-width: 321px) {
  .lead{
    font-size: 21px;
    letter-spacing: -1px;
  }
}


@media (min-width: 800px) {
  body{
    overflow-y: hidden;
  }

  p{
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
  }

  [ng-view]{

  }

  .title{
    font-size: 81px;
    letter-spacing: -8px;

    position: absolute;
    left: 0;
    width: 50%;
    top: 0;
  }

  .white{
    min-height: 100%;
    float: left;
    width: 50%;
  }

  .home-intro{
    width: 50%;
  }

  .second-column{
    width: 50%;
    min-height: 100%;
    float: right;
    text-align: center;
  }

  .low-nav{
    left: auto;
  }

  .btn-nav{
    width: 327px;
    height: 327px;
    margin-top: -327px/2;
    margin-left: -327px/2;
  }

  .btn-play:after, .btn-pause:after{
    width: 168px;
    height: 168px;
    margin: -168px/2 0 0 -168px/2;
  }
}


.landscape-overlay{
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
  background: @brand;
}

.landscape-text{
  font-weight: bold;
  font-size: 32px;
  line-height: 320px;
  text-shadow: 0 2px 0 rgba(0,0,0,.2);
}

@media (orientation: landscape) and (max-width: 599px) {
  body{
    overflow: hidden;
  }

  .landscape-overlay{
    display: block;
  }
}

// =============================================================================
// Header / menu
// =============================================================================

.header{
  height: 43px;
  background-color: @brand;
  position: relative;
  z-index: 3;
}

.menu{
  width: 43px;
  height: 43px;
  background: @brand-secondary;
  float: left;
  position: relative;

  &:after{
    content: '';
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -20px/2 0 0 -20px/2;
    position: absolute;
    background-image: url(../img/svg/ico-menu.svg);
  }

  .no-svg &:after{
    background: transparent url(../img/png/ico-menu.png) no-repeat center;
  }
}

.nav-logo{
  width: 86px;
  height: 20px;
  margin: 12px auto;
  display: block;
  position: relative;

  &:after{
    content: '';
    width: 86px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -20px/2 0 0 -86px/2;
    position: absolute;
    background-image: url(../img/svg/logo-white.svg);
  }

  .no-svg &:after{
    background: transparent url(../img/png/logo-white.png) no-repeat center;
  }
}

.nav-drawer{
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;

  position: absolute;
  top: 0;
  background: #1f1f1f;
  width: 83%;
  height: 100%;
  z-index: 10;
  text-align: left;

  transition: all .5s ease;
  transform: translate3d(-100%, 0, 0);

  a{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
    line-height: 100px;
    text-decoration: none;
    letter-spacing: -2px;
    background-color: @brand-secondary;
    padding: 0 36px;

    &:after{
      display: block;
      float: right;
      content: '';
      background-image: url(../img/svg/next-menu.svg);
      width: 14px;
      height: 23px;
      margin-top: 40px;
    }

    &.zebra{
      background-color: @brand;
    }
  }
}

.no-svg .nav-drawer a:after{
  background: url(../img/png/next-menu.png) no-repeat 0 0;
}

body{
  transition: all .5s ease;
  overflow-x: hidden;
}

.nav-open{
  transform: translate3d(83%, 0, 0);
}

.logo{
  width: 86px;
  height: 20px;
  margin-left: auto;
  margin-right: 18px;
  margin-top: 11px;
  float: right;
  position: relative;

    &:after{
    content: '';
    width: 86px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -20px/2 0 0 -86px/2;
    position: absolute;
    background-image: url(../img/svg/logoapp-horizontal.svg);
  }

  .no-svg &:after{
    background: transparent url(../img/png/logoapp-horizontal.png) no-repeat center;
  }
}

@media (min-width: 800px) {
  .nav-drawer{
    width: 60%;
  }

  .nav-open{
    transform: translate3d(60%, 0, 0);
  }
}


// =============================================================================
// Index
// =============================================================================

.home-intro{
  overflow: hidden;
  padding: 2em 0;
  .grey;
}

.home-intro-text{
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  position: relative;

  &:after{
    display: block;
    content: '';
    margin: 0.5em auto 0;
    width: 38px;
    border-bottom: 3px solid #000;
  }
}

.about-content{
  padding-top: 5%;
  padding-bottom: 5%;
}

.logo-home{
  display: block;
  margin: auto;
  width: 144px;
  height: 124px;
  position: relative;

  &:after{
    content: '';
    width: 144px;
    height: 124px;
    left: 50%;
    top: 50%;
    margin: -124px/2 0 0 -144px/2;
    position: absolute;
    background-image: url(../img/svg/logo-app.svg);
  }

  .no-svg &:after{
    background: transparent url(../img/png/logo-app.png) no-repeat center;
  }
}

.home-button{
  clear: right;
  overflow: hidden;
  text-shadow: 4px 4px 0 rgba(0,0,0,.1);
  box-shadow: 4px 4px 0 rgba(0,0,0,.1), inset 4px 4px 0 rgba(0,0,0,.1);

  .button(#fff);

  margin-bottom: 24px;
  margin-left: 15%;
  margin-right: 15%;

  + .home-button{
    margin-bottom: 0;
  }
}

.timer-round-content, .pre-round-content{
  display: table;
  // overflow: auto;
}

.content-aligner{
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  // overflow: auto;
}

@media (min-width: 800px) {
.logo-home{
  width: 239px;
  height: 208px;

  &:after{
    width: 239px;
    height: 208px;
    margin: -208px/2 0 0 -239px/2;
  }
}
  .home-intro, .instructions{
    float: left;
    width: 50%;
    min-height: 100%;
  }

  .home-intro{
    margin-right: 10%;
    display: table;
  }

  .home-intro-text{
    font-size: 30px;

    &:after{
      border-bottom-width: 5px;
      width: 63px;
    }
  }

  .about-content{
    display: table;
    padding-bottom: 5%;
  }

  .home-content-aligner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .home-lead{
    float: right;
    width: 50%;
    margin-left: -10%;
    margin-bottom: 1em;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 35px;
  }

  .home-button{
    margin-right: 10%;
  }
}


// =============================================================================
// About
// =============================================================================

.jamboard{
  display: block;
  width: 215px;
  height: 154px;
  margin: 22px auto 18px;
  position: relative;

  &:after{
    content: '';
    width: 215px;
    height: 154px;
    left: 50%;
    top: 50%;
    margin: -154px/2 0 0 -215px/2;
    position: absolute;
    background-image: url(../img/svg/tabela.svg);
  }

  .no-svg &:after{
    background: transparent url(../img/png/tabela.png) no-repeat center;
  }
}

.jamboard-text{
  margin-left: 10%;
  margin-right: 10%;
}


@media (max-width: 320px) {
  .jamboard{
    max-width: 180px;
  }
}


@media (min-width: 800px) {
.jamboard{
  width: 364px;
  height: 260px;
  margin-top: 4em;

  &:after{
    width: 364px;
    height: 260px;
    margin: -260px/2 0 0 -364px/2;
  }
}
}


// =============================================================================
// Intro
// =============================================================================

body{
  counter-reset: section;
}

.instructions{
  text-transform: uppercase;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  margin: 0;
  list-style: none;
  background: #fff;
  height: 100%;
  padding: 86px 0 127px;
}

.instruction{
  color: @brand;
  overflow: hidden;
  font-size: 21px;
  line-height: 26px;
  position: relative;
  text-align: left;
  padding: 0;
  height: 33%;
  width: 100%;
  display: table;

  &:before{
    counter-increment: section;
    content: counter(section);

    position: absolute;
    left: 18.75%;
    top: 50%;
    font-size: 60px;
    line-height: 1;
    margin-top: -30px;

    font-weight: 100;
  }

  strong{
    display: block;

    span{
      font-weight: normal;
    }
  }
}

.instruction-link{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 32.5%;
  text-decoration: none;
  color: @brand;
  position: relative;

  &:before{
    content: '';
    display: block;
    float: left;
    width: 46px;
    height: 54px;
    margin-right: 1em;
    vertical-align: middle;
  }
}

.instruction-1:before{
  background-image: url(../img/svg/ico-jamboard.svg);

  .no-svg &{
    background: transparent url(../img/png/ico-jamboard.png) no-repeat center;
  }
}

.instruction-2:before{
  background-image: url(../img/svg/ico-jam.svg);

  .no-svg &{
    background: transparent url(../img/png/ico-jam.png) no-repeat center;
  }
}

.instruction-3:before{
  background-image: url(../img/svg/ico-tracks.svg);

  .no-svg &{
    background: transparent url(../img/png/ico-tracks.png) no-repeat center;
  }
}

.instruction-zebra{
  background-color: #eee;
}

@media (min-width: 800px) {
  .instructions{
    width: 50%;
    padding: 109px 0 0;
  }
}

// =============================================================================
// Round
// =============================================================================

.seconds{
  border-radius: 9999px;
  border: 9px solid #fff;
  display: block;
  font-size: 54px;
  line-height: 82px;
  height: 92px + 9px;
  width: 92px + 9px;
  text-align: center;
  font-family: AauxBold;
  font-weight: bold;
  margin: auto;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -(92px + 9px)/2;
  margin-top: -(92px + 9px)/2;
  text-shadow: 5px 5px 0 rgba(0,0,0,.1);
  box-shadow:  5px 5px 0 rgba(0,0,0,.1),
         inset 5px 5px 0 rgba(0,0,0,.1);
}

.add-time{
  border-radius: 9999px;
  border: 9px solid #fff;
  background-color: #fff;
  display: block;
  font-size: 21px;
  line-height: 1;
  height: 72px + 9px + 10px;
  width: 82px + 9px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  margin: auto;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -(72px + 9px + 10px)/2;
  margin-left: -(82px + 9px)/2;
  box-shadow:  5px 5px 0 rgba(0,0,0,.1);

  color: @brand;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -1px;
}

.round-header{
  padding: 14px 0;
  z-index: 2;
  position: relative;

  p{
    font-size: 18px;
    margin: 0.25em 0 0.5em;
  }
}

.round-title{
  text-transform: uppercase;
  font-size: 42px;
  line-height: 1;
  letter-spacing: -3px;
  margin: 0;
  vertical-align: middle;

  &:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 35px;
    margin-right: 0.5em;
    vertical-align: middle;
  }
}

.round-title-1:before{
  background-image: url(../img/svg/ico-jamboard-black.svg);

  .no-svg &{
    background: transparent url(../img/png/ico-jamboard-black.png) no-repeat center;
  }
}

.round-title-2:before{
  background-image: url(../img/svg/ico-jam-black.svg);

  .no-svg &{
    background: transparent url(../img/png/ico-jam-black.png) no-repeat center;
  }
}

.round-title-3:before{
  background-image: url(../img/svg/ico-tracks-black.svg);

  .no-svg &{
    background: transparent url(../img/png/ico-tracks-black.png) no-repeat center;
  }
}

.round-content{
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  padding: 102px 2% 127px;

  ul{
    list-style: none;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  p:first-child{
    margin-top: 0;
  }

  > div{
    width: 100%;
  }
}

.big{
  font-size: 38px;
  font-weight: bold;
}

.minutes{
  display: block;
  font-family: Aaux;
  font-weight: 100;
  font-size: 107px;
  line-height: 0.7;
  margin: 0;
}

.finish, .continue{
  .button(#000);
  margin-left: 10%;
  margin-right: 10%;

  text-transform: uppercase;
}

.continue:after{
  content: '';
  display: inline-block;
  background-image: url(../img/svg/next.svg);
  width: 12px;
  height: 24px;
  vertical-align: middle;
  margin-left: 1.5em;

  .no-svg &{
    background: url(../img/png/next.png) no-repeat 0 0;
  }
}

.help{
  position: absolute;
  z-index: 2;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 0 rgba(0,0,0,.1);
  right: 0;
  top: 50%;
  margin-top: -80px;
  line-height: 160px;
  text-align: center;
  width: 26%;
}

.modal{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,.9);
  z-index: 5;
  opacity: 0;
  transition: 0.3s all ease-out;

  .round-content{
    margin-top: 20%;
    position: static;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
  }
}

.close-modal{
  position: absolute;
  right: 2%;
  top: 2%;
  width: 34px;
  height: 34px;

  &:before{
    content: '';
    background-image: url(../img/svg/fechar.svg);
    width: 34px;
    height: 34px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -34px/2;
    margin-top: -34px/2;
    filter: drop-shadow(2px 2px 0 rgba(0,0,0,.5));
  }

  .no-svg &:before{
    background: transparent url(../img/png/fechar.png) no-repeat center;
  }
}

.round-header{
  transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);

  + .round-content{
    transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);

    + .second-column{
      transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
  }
}

.blur{
  // filter: blur(6px);

  + .round-content{
    // filter: blur(6px);

    + .second-column{
      // filter: blur(6px);

      + .modal{
        opacity: 1;
      }
    }
  }
}


@media (max-width: 320px) {
  .round-content{
    font-size: 16px;
    line-height: 1.4;
  }
}


@media (min-width: 800px) {
  .round-header{
    position: absolute;
    top: 0;
    width: 50%;
    left: 0;

    p{
      font-size: 35px;
    }
  }

  .round-title{
    font-size: 82px;

    &:before{
      width: 60px;
      height: 68px;
      margin-right: 0.25em;
    }
  }

  .round-content{
    width: 50%;
    padding: 171px 2% 5%;
  }

  .modal-round-content{
    width: 100%;
  }

  .pre-round-content{
    padding-bottom: 0;
  }

  .seconds{
    font-size: 90px;
    line-height: 138px;
    border-width: 15px;
    height: 168px;
    width: 168px;
    margin-left: -(168px)/2;
    margin-top: -(168px)/2;
  }

  .minutes{
    font-size: 180px;
  }

  .modal .round-content{
    margin-top: 10%;

    font-size: 35px;
    line-height: 40px;
  }

  .help{
    font-size: 50px;
    top: auto;
    margin-top: 0;
    bottom: 0;
  }

  .add-time{
    width: 138px + 30px;
    height: 138px + 30px;
    border-width: 15px;
    font-size: 35px;
    padding-top: 20px;
    letter-spacing: -2px;
    margin-left: -(138px + 30px)/2;
    margin-top: -(138px + 30px)/2;
  }

  .close-modal{
    width: 55px;
    height: 55px;

    &:before{
      width: 55px;
      height: 55px;
      margin-left: -55px/2;
      margin-top: -55px/2;
    }
  }
}

// =============================================================================
// End
// =============================================================================

.end {
  padding-top: 5%;
  padding-bottom: 5%;

  p{
    font-size: 32px;
    margin-top: 0.25em;

    &:first-child {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.last {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -2px;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px rgba(0,0,0,.2);

  strong {
    letter-spacing: -4px;
    display: block;
    font-size: 48px;
  }
}

@media (max-width: 320px) {
  .home-button, .continue, .finish{
    font-size: 18px;
    line-height: 40px;
  }
}

@media (min-width: 800px) {
  .end{
    width: 50%;
    padding-top: 109px;
    float: left;
    display: table;
  }

  .end p{
    font-size: 55px;
    margin: 0;
  }

  .last{
    font-size: 55px;
    line-height: 71px;
    margin: 15% 0 0;

    strong{
      font-size: 81px;
    }
  }

  .home-button, .continue, .finish{
    font-size: 40px;
    line-height: 88px;
  }
}